<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tuanpm.RCTMqtt">
  	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<service android:name="org.eclipse.paho.android.service.MqttService" >
	</service>
</manifest>
